#main-div {

  #header-div {
    height: 70px;
    background-color: #BDB76B;
  }

  #header-img_name {
    cursor: pointer;
  }

  #icon-img {
    width: 55px;
    position: absolute;
    top: 75px;
    left: 150px;
  }

  #header-name {
    font-family: 'Fontype Rounded', sans-serif;
    color: #222;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 87px;
    left: 213px;
  }

  #header-about {
    color: #222;
    font-size: 20px;
    position: absolute;
    top: 90px;
    right: 500px;
    cursor: pointer;
  }

  #header-skills {
    color: #222;
    font-size: 20px;
    position: absolute;
    top: 90px;
    right: 380px;
    cursor: pointer;
  }

  #header-contact {
    color: #222;
    font-size: 20px;
    position: absolute;
    top: 90px;
    right: 240px;
    cursor: pointer;
  }
}