#main-div {

  #header-div {
    height: 70px;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;

    #header-img_name {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 50%;

      #icon-img {
        width: 55px;
        margin-left: 10%;
      }

      #header-name {
        font-family: 'Fontype Rounded', sans-serif;
        color: #222222;
        font-size: 24px;
        font-weight: bold;
        margin-left: 10px;
      }
    }

    #header-features {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      width: 50%;

      #header-about {
        color: #222;
        font-size: 20px;
        cursor: pointer;
        margin-right: 10%;
      }

      #header-skills {
        color: #222;
        font-size: 20px;
        cursor: pointer;
        margin-right: 10%;
      }

      #header-contact {
        color: #222;
        font-size: 20px;
        cursor: pointer;
        margin-right: 10%;
      }
    }
  }


}